<nav id="header" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="title">GoalPosts</h1>
      </div>
    </div>
  </div>
</nav>

<button class ="btn btn-primary" ng-click="returnHome()">Go back to yours goals</button>
<br /><br />

<div class="goal-detail">
  <h2> Goal Details </h2>

  <p>{{goal.name}}</p>
  <p>Description: {{goal.description}}</p>
  <p>Due: {{dueDate}}</p>
  <br />

  <button class ="btn btn-primary" ng-click="completeGoal()">{{completeMessage}}</button>
  <button class ="btn btn-danger" ng-click="deleteGoal()">Delete Goal</button>
</div>
