<nav id="header" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="title">GoalPosts</h1>
      </div>

      <div class="col-sm-8">
        <div id="btn-group" class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="goToAddGoal()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Goal
          </button>
          <button type="button" class="btn btn-default" ng-click="signOut()">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#!/home">Home</a></li>
  <li role="presentation"><a href="#!/list">Goal List</a></li>
  <li role="presentation" class="active"><a href="#!/addGoal">Add Goal</a></li>
</ul>

<h2 style="text-align: center">New Goal</h2>

<form name="goal-form">
  Goal title: <br />
    <input type="text" ng-model="name"><br /><br />
  Description: <br />
    <input type="text" ng-model="description"><br /><br />
  Due date: <br />
    <input type="date" ng-model="dueDate"><br /><br />

  <button type="submit" class="btn btn-primary" ng-click="addGoal()">SUBMIT</button>

</form>
<p style="color:green;">{{successMessage}}</p>
