<nav id="header" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="title">GoalPosts</h1>
      </div>

      <div class="col-sm-8">
        <div id="btn-group" class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-lg" ng-click="goToAddGoal()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Goal
          </button>
          <button type="button" class="btn btn-default btn-lg" ng-click="signOut()">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div id="list">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#!/home">Home</a></li>
    <li role="presentation" class="active"><a href="#!/list">All Goals</a></li>
  </ul>

  <h2 style="text-align: center">My Goal List</h2>
  <ol class="list-group">
    <li class="list-group-item" ng-repeat="goal in goalList">
      <a ng-click="goToDetail(goal.id)">{{goal.name}} - {{goal.complete}}</href>
    </li>
  </ol>
</div>
