<nav id="header" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="title">GoalPosts</h1>
      </div>
    </div>
  </div>
</nav>

<div id='signup'>
  <h1>Sign Up</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' ng-model='user.username' placeholder="Username">
    <input type="password" ng-model='user.password' placeholder="Password">
    <button type="submit" class ="btn btn-primary">Sign Up</button>
  </form>
  <p class="login-error">{{signupError}}</p>
  <a href="#!/signin">Already have an account? <strong>Login</strong> ...</a>
</div>
