body {
  padding: 10px;
  background-color: #EDFFFC;
}

#header {
  background-color: #0389CB;
  color: white;
  padding-left: 10px;
}

#login {
  text-align: center;
}

#signup {
  text-align: center;
}

#signout {
  float: right;
}

.login-error {
  color: red;
}

#calendar {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.title {
  vertical-align: middle;
}

#btn-group {
  float: right;
  padding-top: 10px;
}
