body {
  padding: 10px;
  background-color: #EDFFFC;
}

#header {
  background-color: #838786;
  text-align: center;
  color: white;
}

#login {
  text-align: center;
}

#signup {
  text-align: center;
}

#signout {
  float: right;
}

.login-error {
  color: red;
}

#calendar {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}
