body {
  padding: 10px;
  /*background-color: #EDFFFC;*/
}

#header {
  background-color: #0174AE;
  color: white;
  padding-left: 10px;
}

#login {
  padding-top: 50px;
  text-align: center;
  width: 300px;
  margin: auto;
}

#signup {
  padding-top: 50px;
  text-align: center;
  width: 300px;
  margin: auto;

}

#signout {
  float: right;
}

.login-error {
  color: red;
}

#goal-form {
  padding-left: 15px;
}

#calendar {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
}

#btn-group {
  float: right;
  padding-top: 15px;
}
